                <%= form_with(model: incident, local: true) do |form| %>
                  <% if incident.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

                      <ul>
                        <% incident.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>


                    <div class="field">
                      <%= form.label :type %> (Anger, Depression, etc..) <br>
                      <%= form.text_field :kind %>
                    </div>
                   

                    <% if action_name == "edit" %>
                        <div class="field">
                          <%= form.label :Mood_when_incident_occurred %><br>
                          <%= form.text_field :moodprev %>
                        </div>
                        <div class="field">
                          <%= form.label :location %><br>
                          <%= form.text_field :location %>
                        </div>

                        <div class="field">
                          <%= form.label :Specific_location %><br>
                          <%= form.text_field :specloc %>
                        </div>
                    <% end %>

                    <br>
  
                    <%= form.submit :class => 'btn btn-danger btn-circle btn-xl'%>

                     
                   <% end %>
                       
                     


